@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li {
    list-style: none;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
    /*remove underline*/
}

p,
li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,
h2,
h3 {
    margin-bottom: auto;
    letter-spacing: 0.10em;
    font-weight: 500;
}


/**** UTILITY ****/

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.text-red {
    color: red;
}

.text-light {
    color: #f4f4f4;
}

.text-black {
    color: black;
}

.text-gray {
    color: rgb(56, 49, 49);
}

.bg-dark {
    background-color: darkslategray;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary {
    background-color: white;
    border-radius: 10em;
}

.btn-secondary {
    border: 2px solid red;
    border-radius: 2.5em;
    color: red;
    background: white;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: lightsalmon;
    color: white;
}


/**** HEADER STYLING ****/

.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding: 1rem;
}

.navbar .logo {
    float: left;
}

.navbar .nav-items {
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item {
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited {
    color: #f4f4f4;
}

.navbar a {
    padding-bottom: 0.3rem;
}

.navbar a:hover {
    border-bottom: 1px solid white;
    color: salmon;
}

.navbar::after {
    content: '';
    display: block;
    clear: both;
}


/**** HEADER CONTENT STYLING ****/

.header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.header-content h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p {
    text-transform: uppercase;
}


/**** SHOWCASE SECTION STYLING ****/

.showcase {
    background-color: #ddd;
    padding: 10rem 0;
}

.row {
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.row1 {
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box {
    float: left;
    width: 50%;
}

.row1 .text-box,
.row2 .img-box {
    float: right;
    width: 50%;
}

.row .img-box {
    height: 100%;
}

.row .text-box {
    padding: 3rem;
}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}


/**** FEATURES SECTION STYLING ****/

.features {
    padding: 10rem 0;
}

.box-wrapper {
    box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.733);
}

.box {
    width: 33.33%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1,
.box-3 {
    background-color: darkslategray;
    color: white;
}

.box-2 {
    background-color: lightsalmon;
    color: white;
}

.box-wrapper::after {
    content: "";
    display: block;
    clear: both;
}


/**** FOOTER STYLING ****/

.footer {
    background-color: darkslategray;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i {
    margin: 2rem;
}


/**** ABOUT PAGE STYLING ****/

.about {
    padding: 5rem 0;
}

.about-heading::after {
    content: '';
    display: block;
    border: 3px solid red;
    width: 100%;
}


/**** ABOUT WRAPPER STYLING ****/

.about-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.about-wrapper .left {
    float: left;
    width: 50%;
}

.about-wrapper .right {
    float: right;
    width: 50%;
}

.about-wrapper li::before {
    content: '\2713';
    color: red;
    font-weight: bold;
    padding-right: 1rem;
}

.about-wrapper::after {
    content: '';
    display: block;
    clear: both;
}


/**** COUNT STYLING ****/

.counts {
    margin-top: 3rem;
}

.count-item {
    float: left;
    width: 25%;
    text-align: center;
}

.counts::after {
    content: '';
    display: block;
    clear: both;
}

.count-item span {
    font-size: 3rem;
    font-weight: 700;
    color: red;
}

.count-item p {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(56, 52, 52);
}


/**** BANNER STYLING ****/

.cta-banner {
    background-color: lightsalmon;
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
}

.cta-banner-left {
    width: 60%;
    float: left;
}

.cta-banner-right {
    width: 40%;
    float: right;
    text-align: right;
}

.cta-line {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.cta-btn {
    text-align: center;
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}

.cta-banner-right a:hover {
    background-color: white;
    color: salmon;
}

.cta-banner::after {
    content: '';
    display: block;
    clear: both;
}


/**** CONTACT PAGE STYLING ****/

.contact-form {
    padding: 5rem 0;
    background-color: #f7f7f7;
}

.form-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.form-wrapper .company-address {
    height: 760px;
    background-color: #fff;
    width: 49%;
    float: left;
    padding: 1rem;
}

.form-wrapper .company-address i {
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2 {
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group {
    margin-bottom: 3rem;
}

.form-wrapper .company-address img {
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}


/**** FORM STYLING ****/

.form-wrapper .form {
    height: 760px;
    font-size: 1.6rem;
    background-color: white;
    width: 49%;
    float: right;
    padding: 1rem;
}

.form h1::after {
    content: '';
    display: block;
    border: 3px solid red;
    width: 100%;
}

.form-wrapper label {
    display: block;
}

.form-wrapper .form input {
    padding: 0 5rem;
    width: 100%;
}

.form-wrapper .form .form-group {
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after {
    content: '* ';
    color: red;
}

.form-wrapper .form textarea {
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: lightsalmon;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.form-btn:hover {
    background-color: gray;
}


/**** MEDIA QUERIES ****/

@media(max-width:500px) {
    html {
        font-size: 50%;
    }
    .navbar .nav-items,
    .navbar .logo {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content .main-heading {
        display: none;
    }
    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box {
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.733);
    }
    .features .box-2,
    .features .box-3 {
        margin-top: 7rem;
    }
    .box-wrapper {
        box-shadow: none;
    }
    /**** About Section ****/
    .cta-banner-left,
    .cta-banner-right {
        float: none;
        width: 100%;
        text-align: center;
    }
    /**** Contact Section ****/
    .form-wrapper .company-address {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form {
        float: none;
        width: 100%;
        height: auto;
    }
}

@media (min-width:501px) and (max-width:768px) {
    html {
        font-size: 50%;
    }
    p {
        font-size: 1.8rem;
    }
    .navbar .nav-items,
    .navbar .logo {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box {
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px rgba(102, 102, 102, 0.733);
    }
    .features .box-2,
    .features .box-3 {
        margin-top: 7rem;
    }
    .box-wrapper {
        box-shadow: none;
    }
    /**** About Section ****/
    .cta-banner-left,
    .cta-banner-right {
        float: none;
        width: 100%;
        text-align: center;
    }
    /**** Contact Section ****/
    .form-wrapper .company-address {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form {
        float: none;
        width: 100%;
        height: auto;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    html {
        font-size: 56.25%;
    }
    .row .text-box h2 {
        font-size: 2.2rem;
        font-weight: 500;
    }
}

@media(orientation: landscape) and (max-height: 500px) {
    .header {
        height: 90vmax;
    }
}